.venv
.idea/
logs
*.wav
dataset/
__pycache__/
build
dist


FunASR/.github
FunASR/benchmarks
FunASR/data
FunASR/docs
FunASR/examples
FunASR/fun_text _processing
#FunASR/funasr
FunASR/model_zoo
FunASR/tests
FunASR/web-pages
FunASR/gitignore
FunASR/.pre-commit-config.yaml
FunASR/Acknowledge.md
FunASR/Contribution.md
FunASR/LICENSE
FunASR/MinMo_gitlab
FunASR/MODEL_LICENSE
FunASR/README.md
FunASR/README_zh.md
FunASR/SECURITY.md
FunASR/setup.py


FunASR/runtime/android
FunASR/runtime/csharp
FunASR/runtime/deploy_tools
FunASR/runtime/docs
FunASR/runtime/funasr_api
FunASR/runtime/golang
FunASR/runtime/grpc
FunASR/runtime/html5
FunASR/runtime/http
FunASR/runtime/ios
FunASR/runtime/java
FunASR/runtime/onnxruntime
FunASR/runtime/python
FunASR/runtime/ss_key
FunASR/runtime/tools
FunASR/runtime/triton_gpu
FunASR/runtime/websocket
FunASR/runtime/__init__py
FunASR/runtime/quick_start.md
FunASR/runtime/quick_start _zh.md
FunASR/runtime/readme.md
FunASR/runtime/readme_cn.md
FunASR/runtime/run_server.sh
FunASR/runtime/run_server_2pass.sh
/speak-keyboard-tauri/bin/
/.vscode/

*.spec

pipdeptree.txt
requirements.lock.txt
todo.md
/models
/scripts